/.gradle/
/.idea/
/build/
/eclipse/
/gradle/
/out/
/run/
/build.gradle/
/CREDITS-fml/
/.iml/
/.iws/
/CREDITS-fml.txt/
/MinecraftForge-Credits.txt/
/Paulscode IBXM Library License.txt/
/MinecraftForge-License.txt/
/Paulscode SoundSystem CodecIBXM License.txt/
/README.md/
/README.txt/
/build.gradle/
/forge-1.9-12.16.1.1901-changelog.txt/
/gradlew/
/gradlew.bat/
